name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  docker-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push API image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: apps/api/Dockerfile
          push: true
          provenance: false
          sbom: false
          tags: ghcr.io/${{ github.repository_owner }}/adirai-api:${{ github.ref_name }}
      - name: Build and push Web image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: apps/web/Dockerfile
          push: true
          provenance: false
          sbom: false
          tags: ghcr.io/${{ github.repository_owner }}/adirai-web:${{ github.ref_name }}
      - name: Build and push Admin image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: apps/admin/Dockerfile
          push: true
          provenance: false
          sbom: false
          tags: ghcr.io/${{ github.repository_owner }}/adirai-admin:${{ github.ref_name }}

  deploy-manifest-preview:
    runs-on: ubuntu-latest
    needs: docker-publish
    steps:
      - uses: actions/checkout@v4
      - name: Validate Kubernetes manifests
        uses: instrumenta/kubeval-action@master
        with:
          files: "deploy/k8s/*.yaml"
